<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kongtianyi.workflow.jsonviewer</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>29ADC1E7-899B-498A-AA86-93BE7D751B0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2DFB17F-AE5B-4AAD-A427-497CDD04A6FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C237CED3-2279-44EE-9F2D-C2C3D154A643</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29ADC1E7-899B-498A-AA86-93BE7D751B0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>KTY</string>
	<key>description</key>
	<string>An alfred workflow help you to get a good json view.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JSON Viewer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Google Chrome.app</string>
				<key>sourcefile</key>
				<string>json_data.json</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>B2DFB17F-AE5B-4AAD-A427-497CDD04A6FC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>json_data.json</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>29ADC1E7-899B-498A-AA86-93BE7D751B0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>json</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>You need a new computer buddy.</string>
				<key>script</key>
				<string>python json_view.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Should have a chrome json view plugin.</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C237CED3-2279-44EE-9F2D-C2C3D154A643</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>29ADC1E7-899B-498A-AA86-93BE7D751B0D</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>B2DFB17F-AE5B-4AAD-A427-497CDD04A6FC</key>
		<dict>
			<key>xpos</key>
			<real>1085</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>C237CED3-2279-44EE-9F2D-C2C3D154A643</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/kongtianyi/alfred-jsonviewer</string>
</dict>
</plist>
